<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <import resource="classpath:/META-INF/spring/component-scan.xml" />
    <context:property-placeholder location="classpath*:categolj.properties" />
    <!-- Enables the Spring MVC @Controller programming model -->
    <mvc:annotation-driven />

    <!-- Handles HTTP GET requests for /resources/** by efficiently serving 
        up static resources in the ${webappRoot}/resources directory -->
    <mvc:resources mapping="/resources/**" location="/resources/"
        cache-period="604800" />
    <mvc:resources mapping="/favicon.ico" location="/resources/images/favicon.ico"
        cache-period="604800" />
    <mvc:resources mapping="/upload/*/*" location="${categolj.upload.dir}/" />

    <!-- Configures Handler Interceptors -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/" />
            <mvc:mapping path="/all" />
            <mvc:mapping path="/entry/**" />
            <mvc:mapping path="/category/**" />
            <mvc:mapping path="/search/**" />
            <mvc:mapping path="/page/**" />
            <mvc:mapping path="/login" />
            <mvc:mapping path="/admin/**" />
            <bean
                class="am.ik.categolj.app.common.web.interceptor.LoginCheckInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/" />
            <mvc:mapping path="/all" />
            <mvc:mapping path="/entry/**" />
            <mvc:mapping path="/category/**" />
            <mvc:mapping path="/search/**" />
            <mvc:mapping path="/page/**" />
            <mvc:mapping path="/login" />
            <bean
                class="am.ik.categolj.app.common.web.interceptor.SetRecentEntriesInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/" />
            <mvc:mapping path="/all" />
            <mvc:mapping path="/entry/**" />
            <mvc:mapping path="/category/**" />
            <mvc:mapping path="/search/**" />
            <mvc:mapping path="/page/**" />
            <mvc:mapping path="/login" />
            <mvc:mapping path="/admin/**" />
            <bean
                class="am.ik.categolj.app.common.web.interceptor.SetLinkInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- Resolves views selected for rendering by @Controllers to .jsp resources 
        in the /WEB-INF/views directory -->
    <bean
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
        <property name="order" value="2" />
    </bean>

    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="1" />
    </bean>

    <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="104857600" />
        <property name="maxInMemorySize" value="104857600" />
    </bean>

    <bean id="rssEntryFeedView" class="am.ik.categolj.app.common.web.view.RssEntryFeedView">
        <property name="feedTitle" value="${categolj.title}" />
        <property name="feedLink" value="${categolj.url}"></property>
        <property name="feedDescription" value="${categolj.description}" />
    </bean>

    <bean class="am.ik.categolj.common.fw.resolver.LoggingExeptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop
                    key="am.ik.categolj.app.common.exception.NoSuchEntryException">error/noSuchEntry</prop>
            </props>
        </property>
        <property name="statusCodes">
            <props>
                <prop
                    key="am.ik.categolj.app.common.exception.NoSuchEntryException">404</prop>
            </props>
        </property>
        <property name="defaultErrorView" value="error/default" />
    </bean>
</beans>
